<div class="row">
    <div class="col-xs-8"></div>
    <div class="col-xs-4">
        <button class="btn btn-lg btn-white btn-info"><i class="ace-icon fa fa-check-square-o"></i>VISAR</button>
        <button class="btn btn-lg btn-white btn-info"><i class="ace-icon fa fa-pencil"></i>FIRMAR</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="form-field-select-1">Prioridad</label>
        <select class="form-control" id="form-field-select-1">
            <option value="1">Todos</option>
            <option value="1">Urgente</option>
        </select>
    </div>
    <div class="col-xs-2">
        <label for="form-field-select-1">Tipo Documento</label>
        <select class="form-control" id="form-field-select-1">
            <option value="1">Todos</option>
            <option value="1">Memorandum</option>
        </select>
    </div>
    <div class="col-xs-2">
        <label for="form-field-select-1">Unidad Orgánica</label>
        <select class="form-control" id="form-field-select-1">
            <option value="1">Todos</option>
            <option value="1">Jefe de Contabilidad</option>
            <option value="1">Jefe de Tesorería</option>
            <option value="1">Trámite Documentario</option>
        </select>
    </div>
    <div class="col-xs-2">
        <label for="form-field-select-1">Accion</label>
        <select class="form-control" id="form-field-select-1">
            <option value="1">Todos</option>
            <option value="1">Accion que corresponde</option>
            <option value="1">Atender directamente</option>
            <option value="1">Conocimiento</option>
            <option value="1">Copia</option>
            <option value="1">Difusión en el área</option>
            <option value="1">Elaborar ayuda memoria</option>
            <option value="1">En atención a lo solicitado</option>
            <option value="1">Para ejecución del servicio contratado</option>
            <option value="1">Para Firmar/Visar</option>
            <option value="1">Proyectar respuesta</option>
            <option value="1">Revisar e Informar</option>
        </select>
    </div>
    <div class="col-xs-2">
        <label for="form-field-select-1">Cliente</label>
        <select class="form-control" id="form-field-select-1">
            <option value="1">Todos</option>
            <option value="1">IIRSA NORTE</option>
            <option value="1">COVISOL</option>
            <option value="1">CONTROLMATRIC</option>
            <option value="1">COVINCA</option>
        </select>
    </div>
    <div class="col-xs-2">
        <label for="form-field-select">Rango de Fecha</label>
        <select class="form-control" id="form-field-select-1">
            <option value="1">Todos</option>
            <option value="1">1 día</option>
            <option value="1">7 días</option>
            <option value="1">60 días</option>
            <option value="1">90 días</option>
            <option value="1">Establecer rango</option>
        </select>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-xs-7">
        <button class="btn btn-primary"><i class="ace-icon fa fa-search"></i>  Filtrar</button>
    </div>
    <div class="col-xs-5">
        <button class="btn btn-white btn-info"><i class="ace-icon fa fa-check-square-o"></i>Atender</button>
        <button class="btn btn-white btn-info"><i class="ace-icon fa fa-external-link"></i>Derivar</button>
        <button class="btn btn-white btn-info"><i class="ace-icon fa fa-download"></i>Exportar</button>
        <button class="btn btn-white btn-info"><i class="ace-icon fa fa-folder-o"></i>No leído</button>
    </div>

</div>
<p></p>
<p></p>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>N° de Trámite</th>
                    <th>Datos del Documento</th>
                    <th>Asunto</th>
                    <th>Fecha y Remitente</th>
                    <th>Organizacion/Administrado</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </td>

                    <td class="center">
                        <div class="action-buttons">
                            <a href="#" class="green show-details-btn" title="Show Details">
                                20230217472
                            </a>
                            <br>
                            <span class="label label-success">
                                <i class="ace-icon fa fa-check-circle-o bigger-120"></i>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div id="">
                                        <span class="label label-warning">

                                            Urgente
                                        </span>
                        </div>
                        MEMORANDO CIRCULAR - N° 0047-2019-GG-OSITRAN
                    </td>
                    <td>APROBACIÓN DE PROCEDIMIENTO DOCUMENTADO DEL SGAS</td>
                    <td>
                        <b>Recibido:</b>29/11/2023<br>
                        <b>Remitente:</b>Juan Carlos Bengoa Achata<br>
                        <b>Área:</b>Jefe de Tecnologías de la Información
                    </td>
                    <td>
                        <b>Tipo:</b>Empresa<br>
                        <b>Cliente:</b>INTERSUR CONSECIONES S.A.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>